html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right bottom, #00ff85, #00f7bf, #00ebe9, #00dbff, #00c9ff, #3abeff, #67b0ff, #8ea1ff, #9e97ff, #b489ff, #ce77ff, #e95ffb);    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; 
}



.app {
    min-width: 100%;
    min-height: 100%;
}